<form method="post" action="{{ path('app_lieu_evenement_delete', {'id': lieu_evenement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu_evenement.id) }}">
    <button class="btn">Delete</button>
</form>
