* {
    --text: #0e0f10;
    --background: #f5f5f5;
    --primary: #3F4E9E;
    --secondary: #a8acc2;
    --accent: #9398b9;
}

.navbar-nav {
    flex-direction: row;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.navbar {
    box-shadow: 0 0 5px 1px;
}

.d-flex {
    display: flex;
    justify-content: space-between; /* Ajout de l'espace entre les cartes */
    align-items: center;
    margin-top: 3rem;
}

.div-image {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement pour les images */
}

.card {
    width: 45%; /* Ajustement de la largeur des cartes pour l'espace entre elles */
    border-radius: 20px;
    background: var(--background);
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-bottom: 20px;
    height: 100%;
    min-height: 410px;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
}

.conteneur-cards {
    height: auto;
}

.card-details {
    color: black;
    gap: .5em;
    display: grid;
    place-content: center;
    height: 100%; /* Remplir la hauteur de la carte */
    margin: 15px 15px 15px 15px;
}

.taille-img {
    height: 50px;
    width: 50px;
}

.texte-img {
    margin-top: 10px;
}

.image-texte {
    display: flex;
    align-items: center;
}

.col-md-4 {
    width: 50%;
    text-align: center;
}

.test{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.divbody{
    font-family: Arial, sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    flex-direction: row;
    padding: 0;

}

.textecentre {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin-bottom: 10px;
    margin-left: 10px;
}

hr.separateur {
    border: 0;
    height: 5px;
    opacity: 90%;
    background: linear-gradient(90deg, var(--primary), var(--secondary), var(--primary));
    border-radius: 3px;
}

/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/
.card:hover {
    border-color: var(--accent);
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

/* Media Queries pour la responsivité */
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 10px; /* Réduire le padding pour les petits écrans */
    }

    .card {
        width: 100%; /* Utilisation de 100% de la largeur */
        margin-bottom: 10px; /* Ajout d'un espacement entre les cartes */
        height: auto; /* Réinitialiser la hauteur pour qu'elle s'ajuste au contenu */
    }

    .textecentre {
        width: 100%; /* Utilisation de 100% de la largeur */
    }
}

footer {
    background-color: #343a40; /* Couleur de fond du footer */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur */
    text-align: center; /* Centrage du contenu */
    width: 100%; /* Prend toute la largeur de la page */
    position: relative;/* Le fixer en bas de la fenêtre */
    bottom: 0; /* Position en bas */
    left: 0; /* Position à gauche */
}

footer a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Suppression du soulignement */
    margin: 0 10px; /* Marge entre les liens */
}

footer a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

/* Media Queries pour les tablettes */
@media only screen and (max-width: 1029px) {
    .d-flex {
        flex-direction: column; /* Changer la direction des cartes en colonnes */
        align-items: center; /* Centrer horizontalement */
    }

    .card {
        width: 80%; /* Utilisation de 80% de la largeur */
        margin-bottom: 20px; /* Espacement entre les cartes */
    }
}

.contenu{
    margin-top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}

.contenu .table {
    table-layout: fixed;
    max-width: 100%;
    font-size: .7vw;
}

.navbar-brand {
    padding-left: 2%;
}

.pasdepoints {
    list-style-type: none;
}

.carteinfo {
    background-color: var(--background);
    color: var(--text);
    border: 2px solid #c3c6ce;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    transition: .5s ease-out;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
}

.carteinfo:hover {
    border-color: var(--accent);
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.carteinfo a {
    color: #2a409d;
}
.carteinfo a:hover {
    color: #5569b7;
}

.horaires {
    color: #474c50;
}

#carousel-container {
    background-color: #ffffff;
    /* Couleur de fond des slides */
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    min-height: 300px;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.carousel-item .info {
    padding-top: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item .paragraphe {
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: #000;
    text-decoration: none;
    /* Couleur des flèches en noir */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #555;
    /* Couleur des flèches au survol */
}

.card-img-top {
    max-width: 100%;
}

.conteneur-cartes {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    margin-bottom: 30px;
}

.conteneur-cartes .carte {
    background-color: hsla(0, 0%, 0%, .02);
    box-shadow: 0 0 5px 5px hsla(0, 0%, 0%, .2);
    flex-basis: calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

.conteneur-cartes .carte img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
    position: static;
}

.conteneur-cartes .carte h4 {
    font-weight: 700;
}
.conteneur-cartes .carte hr {
    border: 0;
    height: 5px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.block-bouton {
    margin-bottom: 15px ;
}

/* Media queries pour les tablettes et les téléphones */
@media screen and (max-width: 768px) {
    .carte {
        flex-basis: calc(100% - 20px); /* Divs pleine largeur avec un espace de 20px */
        margin-bottom: 20px; /* Espacement entre les divs pour les petits écrans */
    }
}

.search-container a {
    color: var(--background);
    text-decoration: none;
}
