<footer>
    <!-- Sommaire avec des liens cliquables -->
    <nav class="footer">
        <a href="#accueil">Accueil</a>|
        <a href="#a-propos">À propos</a>|
        <a href="#evenements">Évènements</a>|
        <a href="#entreprises">Entreprises</a>|
        <a href="#offre-stages">Offre stages et alternances</a>|
        <a href="#admin">Accès administrateur</a>
    </nav>
    <!-- Message de copyright -->

    &copy; 2024 Rayane Alexis Timoté. Tous droits réservés.
</footer>