<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Sommaire<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="#">Accueil</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#">À propos</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#">Évènements</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#">Entreprises</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#">Offres stages et alternances</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <ul class="thumbnail-widget">
                            <li>
                                <h5 class="widget-title"><span class="thumb-content"><a href="#">Connexion</a></span></h5>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Rayane Alexis Timoté © 2024. Tous droits résérvés.</p>
                </div>
            </div>
        </div>
    </div>
</footer>