<footer>
    <!-- Sommaire avec des liens cliquables -->
    <nav>
        <a href="{{ path('accueil') }}">Accueil</a>
        <a href="{{ path('amigo') }}">À propos</a>
        <a href="#">Évènements</a>
        <a href="#">Entreprises</a>
        <a href="#">Offre stages et alternances</a>
    </nav>
    <!-- Message de copyright -->
    &copy; 2024 Rayane Alexis Timoté. Tous droits réservés.
</footer>