<footer>
    <!-- Sommaire avec des liens cliquables -->
    <nav>
        <a href="{{ path('amigo') }}">Accueil</a>
        <a href="{{ path('miage') }}">Miage</a>
        <a href="{{ path('evenements') }}">Évènements</a>
        <a href="{{ path('entreprises') }}">Entreprises</a>
        <a href="#">Offre stages et alternances</a>
    </nav>
    <!-- Message de copyright -->
    &copy; 2024 Anglade Timoté, Ricoux Alexis, Van-Der-Stuyft Rayane Tous droits réservés.
</footer>